.App {
  
}

.App-logo {
  
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.opcon {
  background-color: black;
  color: limegreen;
  min-height: 100vh;
  margin: 0px;
}

.ProseMirror {
  height: 45vh;
}

/* .ProseMirror p{
  background-color: lemonchiffon;
} */

.proformaT1{
  background-color: magenta;
}

